<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.dao.IOrderDao">

	<resultMap type="orders" id="orderMapper">
		<id property="id" column="id"/>
		<result property="orderNum" column="ordernum"/>
		<result property="totalPrice" column="totalprice"/>
		<result property="createDate" column="createdate"/>
		<result property="state" column="state"/>
		<!-- 体现表之间一的关系 -->
		<association property="buyer" resultMap="com.hk.dao.IUserDao.userMapper"></association>
	</resultMap>

	 <!-- useGeneratedKeys="true" keyProperty="id" 获取自增的值 -->
	<insert id="add" parameterType="orders" useGeneratedKeys="true" keyProperty="id">
		insert into t_orders(ordernum, totalprice, createdate, state, buyerId) 
		values (#{orderNum}, #{totalPrice}, #{createDate}, 0, #{buyer.id})
	</insert>

	<select id="count" resultType="int">
		select count(1) from t_orders
	</select>

	
</mapper>